@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
.App {
  text-align: center;
  /* background-image:url('./img/AlfonsMorales.jpg'); */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.links {
  /* color: inherit; */
  color: black;
  text-decoration: none;
}
.navbutton {
  font-variant: inherit;
  
}
#mainpaper {
  width: 80%;
  height: fit-content;
  padding: 1%;
  margin-top: 5%;
  margin-left: 5%;
  flex: 1;
  background-color: rgba(255,228,196,0.8);
  padding-right: 2%;
}
.sortedBokks {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-variant: inherit;
}
#cont {
  /* display: flex; */
}
#leftSide {
  flex: 1;
  width: fit-content;
  display: inline;
}
#rightSide {
  flex: 4;
  width: 70%;
  display: inline;
}
.catebox {
  padding: 2%;
  /* background-color: rgba(255,228,196,0.6); */
  border-radius: 20px;
  margin: auto;
}
#tEsTtHiS {
  /* background-color: aquamarine; */
  /* max-height: 300px; */
  /* padding: 50px; */
}
#XZXZ {
  /* max-height: 500px; */
}
.product-layout {
  /* max-height: 500px; */
}
.product-thumb {
  /* min-height: 700px; */
}

#listAll {
  /* width: 90%; */
}
#mainCon {
  padding: 0%;
  width: 99%;
}
#thisBookk {
  margin: auto;
  background-color: rgba(255,228,196,0.8);
  border-radius: 20px;
  margin-top: 20px;
}
#noData {
  color: red;
  font-size: x-large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: italic;
}

footer {
  background-color: rgba(255,228,196,0.8);
  border-top-left-radius: 180px;
  border-top-right-radius: 180px;
  width: 95%;
  margin: auto;
  margin-top: 30px;
}
#FormRO{
  width: 30%;
  background-color: rgba(255,228,196);
  padding: 24px;
  margin:70px auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;



}

#NavBaR {
  background-color: rgba(255,228,196);
  color: black;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

#BokBox {
  background-color: rgba(255,228,196,0.8);
}

#bookForm{
  width: 100%;
  /* padding: 24px; */
  /* margin: auto; */
}
#formCr{
  background-color: rgba(255,228,196,0.8);
  width: 30%;
  padding: 24px; 

}

.allReservess {
  background-color: rgba(255,228,196,0.9);
  max-width: 500px;
  margin: auto;
  margin-top: 20px;
  border-radius: 40px;
  border: 3px solid black;
}
.ImGiMg {
  height: auto;
}
.AwsAss {
  color: black;
  font-weight: 500;
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}
.TiTlEsTyle {
  color: black;
  text-decoration: underline;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}
#PaGeW {
  min-height: 700px;
}
.BiGiMgE {
  /* width: 50%; */
}
.comment-text {
  font-size: large;
  
}
.PpPp {
  /* color: aquamarine; */
}
#TiMeStYl {
  color: brown;
  font-size: medium;
}
#HooolComment {
  background-color: rgba(255,228,196,0.9);
  border-radius: 50px;
}
#HoolDesc {
  background-color: rgba(255,228,196,0.9);
}